body {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

.boton {
  position: absolute;
  width: 130px;
  height: 25px;
  background-color: ButtonFace;
  border: 2px outset lightgray;
  color: black;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Cambiar la tipografía */
  font-size: 10px; /* Cambiar el tamaño de la letra */

}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 0px;
  z-index: 999;
}


